// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #1cb15f !default;
$header-bg-color-secondary: #1a8ca8 !default;

// Text
$section-headings-color: #159936 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e87b8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567d82 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
